/*Created by Alvin S. Raquem
2019*/

html , body {
height: 100%;
width: 100%;
margin:0;
padding: 0;
}

header {
position: fixed;
height: 60px;
width: 100%;
background-image: linear-gradient(to right bottom, #021209, #192423, #2f3638, #47494b, #5e5e5e);
z-index: 999;
}

aside {
position: fixed;
background: white;
height: 100%;
overflow: hidden;
width: 220px;
box-shadow: 0pt 2pt 2pt 1pt black;
margin-top: 60px;
transition: 0.3s width;
top: 0;
left: 0;
z-index: 1;
}

aside > ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}

aside > ul > li > a{
display: block;
color: #212529;
text-align: left;
padding: 10px;
text-decoration: none;
font-size: 16pt;
}

aside > ul > li > a:hover{
background-color: #F1F3F5;
color: #212529;
}

.activenav , .activenav a{
background: #555;
color: white;
}

header button {
border: none;
color: white;
background: transparent;
height: 50px;
font-size: 24pt;
cursor: pointer;
outline: none;
}

.dropdown-nav {
display: inline-block;
width: 100%;
}

.dropdown-nav-content {
display: none;
position: relative;
background-color: #ccc;
min-width: 180px;
z-index: 1;

}

.dropdown-nav-content a {
color: #212529;
padding: 12px 30px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-nav-content a:hover{
background-color: #F1F3F5;
color: #212529;
}

.dropdown-nav-content a span {
font-size: 8pt;
}

#accountinfo {
width: 100%;
height: 100px;
background: #3071A9;
margin-bottom: 2px;
}

#accountinfo span {
color: white;
font-size: 10pt;
}

#accountinfo img {
width: 60px;
height: 60px;
border-radius: 100%;
margin-top: 20px;
margin-left:5px;
}

.MainSection {
background: transparent;
padding: 20pt;
margin-left: 0px;
padding-top: 65px;
height: 100%;
transition: 0.3s margin-left;

}

.MainSection > span.pageheader {
color: dimgray;
font-weight: bold;
font-size: 24pt;
}

.Slideshowimage {
   width: 100%;
   max-height: 200px;
   margin: auto;
}

footer#adminfooter{
	margin-top: 0;
	height: 100px;
	background: dimgray;
}

footer#adminfooter div{
height: 100%;
width: 100%;
background: rgba(0,0,0,0.8);
padding-top: 70px;
padding-left: 10px;
box-sizing: border-box;
-webkit-box-sizing:border-box;
padding-left: 225px;
}

/*footer {
background: black;
}*/

@media (max-width: 800px) and (min-width: 450px){
aside {
width: 0px;
}

footer#adminfooter div{
	padding-left: 3px;
}
}